.zbase-menu {
  width: 100%;
  background: #222945;
  color: #ccc;
  text-align: center;
}
.zbase-vertical {
  width: 150px;
  margin: 0 auto;
}
.zbase-submenu {
  position: relative;
}
// .zbase-submenu:hover > .zbase-submenu__child {
//   opacity: 1;
//   display: block;
// }
.zbase-submenu__child {
  position: absolute;
  z-index: 999;
  left: 100%;
  top: 0;
  background: #222945;
  border-radius: 4px;
  opacity: 1;
  transition: 0.3s;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 2001;
  // overflow: hidden;
  // display: none;
}
.zbase-submenu__childx {
  overflow-y: auto;
  overflow-x: visible;
}
.zbase-menu-item {
  color: #ccc;
  display: inline-block;
  width: 100px;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 5px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.zbase-menu-item:last-child {
  margin-bottom: 0;
}
.zbase-menu-item:hover {
  background: #394267;
  color: #fff;
}
.zbase-menu__active {
  background: #394267;
  color: #fff;
}
.zbase-menufade-enter,.zbase-menufade-leave-to {
  opacity:  0;
}
.zbase-menufade-enter-active,.zbase-menufade-leave-active {
  transition: all 0.2s ease;
}
